<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Corso di Laurea in Sicurezza dei Sistemi e delle Reti Informatiche</h1>
            <span>Università degli Studi</span>
            <span><address>Milano, IT</address><time>2013 to Present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Corso di Linguaggi di Programmazione per il Web (PHP, Java)</h1>
            <span>Galgano Informatica</span>
            <span><address>Milano, IT</address><time>2009</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Diploma di Maturità Classica</h1>
            <span>Liceo Classico Pietro Verri</span>
            <span><address>Lodi, IT</address><time>1995 to 2001</time></span>
        </header>
    </article>
</section>
