<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Front End Engineer</h1>
            <span>@ <a href="http://jobrapido.com">Jobrapido</a> <br /><address>Milano, IT</address><time>December 2014 to Present</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    <article>
        <header>
            <h1>Front End Developer</h1>
            <span>@ <a href="http://milan.vml.com/">VML</a> <br /><address>Milano, IT</address><time>February 2012 to December 2014</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span>@ <a href="http://damsol.com/">Damsol</a> <br /><address>Lodi, IT</address><time>November 2009 to January 2012</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
</section>
