<section class="twelve columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Front End Engineer</h1>
            <span>@ <a href="http://jobrapido.com">Jobrapido</a> <br /><address>Milano, IT</address><time>December 2014 to Present</time></span>
        </header>
        <p>Everything front end related: Angular app, Handlebars views for Struts, SASS project for website, Node.js microservices for page components</p>
    </article>
    <article>
        <header>
            <h1>Front End Developer</h1>
            <span>@ <a href="http://milan.vml.com/">VML</a> <br /><address>Milano, IT</address><time>February 2012 to December 2014</time></span>
        </header>
        <p>Create static version of front end templates for big brands clients, in a creative agency using all of the best technologies: Javascript (jQuery, Underscore), CSS (LESS), HTML and Handlebars templating, Slim PHP for REST APIs. Also a little bit of Wordpress</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span>@ <a href="http://damsol.com/">Damsol</a> <br /><address>Lodi, IT</address><time>November 2009 to January 2012</time></span>
        </header>
        <p>Create websites for little brands. Completely custom CMS made in PHP and MySQL, custom layout with HTML, CSS and jQuery</p>
    </article>
</section>
