<section class="twelve columns">
    <h1>Extras</h1>
    <article>
        <p>Passionate traveller, i prefer remote places especially northern countries. I've been everywhere in Europe, sometimes jumping on the first available transportation without particular schedule. I'm crazy about maps, i've the planisphere tattoed on my forearm.</p>
        <p>Musician and music lover. I play guitar and i've played piano for years. I listen to <i>a lot</i> of music (last year Spotify told me that i've listened to almost 600 different artists)</p>
        <p>Proud to be an ex-smoker, without any program. It takes guts to quit a bad habit and i'm proud enough to add it as a point of honor in my resume!</p>
        <p>If you like to know on what i'm focused at the moment, you can watch <a href="http://www.andreavaghi.com/now.html">here</a> (http://www.andreavaghi.com/now.html)</p>
    </article>
</section>
