<section class="twelve columns skills">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Technical Skills</h1>
        </header>
        <p>Expert knowledge of the front end stack: <em>JavaScript, HTML &amp; CSS</em></p>
        <p>Experience with JavaScript frameworks: <em>AngularJS, React, Ember, Meteor</em></p>
        <p>Daily use of TDD techniques using <em>Mocha, Chai and Sinon</em></p>
        <p>Experience with HTML template engine: <em>Handlebars</em></p>
        <p>Experience with CSS preprocessors: <em>SASS and LESS</em></p>
        <p>Experience with task runner and build tools: <em>Grunt, Webpack, Rollup</em></p>
        <p>Expert knowledge of tracking and ads platform: <em>Google Tag Manager</em> and <em>Doubleclick for Publishers</em></p>
        <p>Expert knowledge of <em>Git</em></p>
        <p>Experience with the <em>Atlassian</em> suite: <em>Jira, Bitbucket</em> and using <em>Pipelines and Bamboo</em> for build and deployment.</p>
        <p>Good confidence with the <em>Terminal</em> shell</p>
        <p>Good knowledge of back end JavaScript with <em>NodeJS</em> and <em>Express</em></p>
        <p>Basic knowledge of <em>Java and PHP</em>, with good knowledge of the MVC stack of frameworks like <em>Struts and Symfony</em></p>
        <p>Knowledge of SQL and NoSQL databases: <em>MySQL</em> and <em>MongoDB</em></p>
    </article>
    <article>
        <header>
            <h1>Soft Skills</h1>
        </header>
        <p>Good approach to the project management, good autonomy in making decisions</p>
        <p>Experience with Agile development: Scrum and Kanban</p>
        <p>Good listener with a proactive attitude</p>
        <p>Good approach and positive attitude towards new technolgies</p>
    </article>
</section>
