<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Technical Skills</h1>
        </header>
        <p>Expert knowledge of the front end stack: JavaScript, HTML &amp; CSS</p>
        <p>Experience with JavaScript frameworks: AngularJS, Meteor, Ember</p>
        <p>Experience with HTML template engine: Handlebars</p>
        <p>Experience with CSS preprocessors: SASS and LESS</p>
        <p>Experience with task runner and build tools: Grunt, Webpack</p>
        <p>Expert knowledge of tracking and ads platform: Google Tag Manager and Doubleclick for Publishers</p>
        <p>Expert knowledge of Git</p>
        <p>Experience with the Atlassian suite: Bitbucket and Bamboo for build and deployment.</p>
        <p>Good confidence with the Terminal shell</p>
        <p>Basic knowledge of Java and PHP, with good knowledge of the MVC stack of frameworks like Struts and Symfony</p>
    </article>
    <article>
        <header>
            <h1>Soft Skills</h1>
        </header>
        <p>Good approach to the project management, good autonomy in making decisions</p>
        <p>Experience with Agile development: Scrum and Kanban</p>
        <p>Good listener</p>
    </article>
</section>
